.miniChart {
    height: 40px;
}

.containerrace{
	background-color: rgb(241, 241, 241);
	padding: 20px;
}

.avatarrace{
	width: 50px;
	margin-top: 15px;
}

.vspace {
    height: 15px;
}

.score {
    fill: #16A085;
}

.score-text {
    fill: #ffffff;
}

.friendbutton{
	margin-bottom: 20px;
    background-color: #16A085;
}
