
.miniChart {
	height: 150px;
	margin-bottom: 10px;
}

.bigChart {
	height: 400px;
	margin-bottom: 10px;
	background-color: rgb(241, 241, 241);
}

.bar {
	border: 1px solid;
}

.barRect {
	fill: green;
}
.barRect {
	fill: red;
}

.axis {
	font: 10px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.area {
	fill: steelblue;
}

/* line chart specifics.*/
.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 1.5px;
}
